body {
	background-color: #1ad4cd;
}
header {
	background-color: #ffffff;
}
h1 {
	font-family: Verdana;
}
h2 {
	height: 30px;
	width: 100px;
	float:left;
	position: relative;
}
p {
	position:relative;
}
img.align-left {
	float: left;
	margin-right: 20px;
}
img.medium {
	width: 250px;
	height: 250px;
}
a:hover {
	color: 27e5e7;
	font-weight: bold;
	text-decoration: none;
}
li {
	font-weight: bold;
	font-size: 18px;
}



