/*  

1. General
2. Layout

*/

/* 1. General */

body {
	background-color: #1ad4cd;
}
header {
	background-color: #ffffff;
}
h1 {
	font-family: Verdana;
}
h2 {
padding: 15px;
margin-bottom: 30px;
margin-top: 0px;
}
p {
	position:relative;
}
a:hover {
	color: #27e5e7;
	font-weight: bold;
	text-decoration: none;
}
li {
	font-weight: bold;
	font-size: 18px;
}


/* 2. Layout */

aside {
	width: 33%;
	float: left;
}

article {
	width: 66%;
	float: right;
	background-image: url(images/ADMIN-LOGO.gif);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

header img {
	float:left;
}
header {
	position: fixed;
	width: 100%;
	z-index:1;
	top: 0px;
}
.page-content {
	margin-top: 150px;
}

